<script>
    import {scaleLinear} from 'd3-scale';
    import {extent} from 'd3-array';
    export let data;
    export let xScale;
    export let yScale;
    export let scaling;
    export let build_idx=[];

    $: pathGenerator= () => {
        let path= "M ";
        data.forEach((value,idx) => {
            path += " " + xScale(idx) + " " + yScale(value.total_heating_energy)
        })
        return path;
    }

    $:{
        if(scaling == "separate") {
         yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([8,0]);}
      }
</script>

<g transform="translate(0, {build_idx*22})">
    {#each data as dp,idx}
        <line x1={xScale(idx)} x2={xScale(idx)} y1={yScale(0)} y2={yScale(dp.total_heating_energy)} />
    {/each}
   
</g>
    
<style>
    line {
        stroke: darkmagenta;
        stroke-width: 1.5px;
        }
</style>