<script>
    export let data;
    export let scale_pi;
    export let scale_rad;
    
	$: pathGenerator = (d) => {
        let path = "M";
        d.forEach((dp,idx) => {
          path += " " + scale_rad(-dp)*Math.sin(scale_pi(-idx)) + "," + scale_rad(-dp)*Math.cos(scale_pi(-idx));
        })
        return path;
      }
</script>

<path d={pathGenerator(data)}/>