<script>
    import {scaleLinear} from "d3-scale";
    import {extent} from "d3-array";
    export let data;
  
    let x_scale_even=scaleLinear().domain([0,data.length]).range([200,0]);
    let y_scale_elec=scaleLinear().domain(extent(data.map((d) => d.total_electrity))).range([20,0]);
    let y_scale_gas=scaleLinear().domain(extent(data.map((d) => d.total_gas))).range([19,41]);
  
    let even_elec = "M " + x_scale_even(0) + " " + y_scale_elec(data[0].total_electrity) + " C ";
    data.forEach((d,idx) => {
        even_elec += " " + x_scale_even(idx) + " " + y_scale_elec(d.total_electrity)  
    })
    let even_gas = "M " + x_scale_even(0) + " " + y_scale_gas(data[0].total_gas) + " C ";
    data.forEach((d,idx) => {
        even_gas += " " + x_scale_even(idx) + " " + y_scale_gas(d.total_gas)  
    })
</script>
  
    <path d={even_elec} fill="blue" stroke="blue" fill-opacity=0.5 stroke-opacity=0.5/>
    <path d={even_gas} fill="yellow" stroke="yellow"/>
  
  