<script>
    export let city = "Baltimore";
    export let scaling = "separate";
</script>

<form>
    <b> Design 1: Heating energy across 16 building types </b>
  <div>
      City:
      <label> <input type="radio" value="Baltimore" name="city" bind:group={city}> Baltimore </label>
      <label> <input type="radio" value="Chicago" name="city" bind:group={city}> Chicago </label>
      <label> <input type="radio" value="Los Angeles" name="city" bind:group={city}> Los Angeles </label>
  </div> 
  <br>

  <div>
    Scaling:
    <label> <input type="radio" value="separate" name="scaling" bind:group={scaling} class="it"> Separate for different building types </label>
    <label> <input type="radio" value="common" name="scaling" bind:group={scaling} class="it" > Common across all building types </label>
</div>
</form>

<style>
    div {
        text-align:justify; 
        display:grid; 
        flex-direction:column; 
        align-items:center; 
        justify-content:center;
    }
</style>