<script>
  import Odd from "./_design_3_odd.svelte";
  import Even from "./_design_3_even.svelte";
  import {onMount} from "svelte";
  import {json} from "d3-fetch";
  let data; 
  let week_n=[52, 51, 50, 49, 48];

// Size and margins
  const width = 500;
  const height = 600;
  const margin = {top:10, right:10, bottom:10, left:10};
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  onMount(async () => {
    data = await json("../data/hourly_electricity_vs_gas_december.json");
  })
  //$: console.log(data)

  function selected_week(data,week){
  return data.filter(d => d.week == week);
  } 
</script>

{#if !data}
  <p> ... </p>
{:else}
  <div>
  <svg {width} {height}>
    <text x=25 y=30 class="title"> Design 3: Gas and electricity usage in Baltimore (December 2014) </text>
    <line x1={240} x2={240} y1={580} y2={50} stroke-width=1 stroke="black" stroke-opacity=0.5/>
    <g transform="translate({margin.left},{margin.top})">
   {#each week_n as week,idx}
      {#if idx%2==0}
          <g transform="translate(220,{idx*101+150})rotate(-30)">
            <Odd data={selected_week(data,week)}/>
            <text x=210 y= 21 class="it"> Week {5-idx}</text>
        </g>
      {:else}
          <g transform="translate(67,{idx*101+50})rotate(30)">
            <Even data={selected_week(data,week)}/>
            <text x=-50 y =21 class="it" > Week {5-idx}</text>
        </g>
      {/if} 
   {/each}
    </g>
  </svg>
  </div>
{/if} 

<style>
  .it {
 font-size: 12px;
  }
  .title {
   font-size:15px;
   font-weight: bold;
 }
  svg {
  border: 1px solid black;
  border-radius: 5px;
  }
</style>
