<script>
	import Path from './_design_2_path.svelte';
	import {scaleLinear} from "d3-scale";
    import {extent,max} from 'd3-array';

	let datapoints = [];
		fetch("../data/daily_heating_cooling.json")
			.then(res => res.json())
			.then(data => datapoints = data)
	//$:console.log(datapoints)

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = {top:10, right:10, bottom:10, left:10};
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let transformed_data_heating = {};
  let transformed_data_cooling = {};
  $: {
	  datapoints.forEach((d) => {
		  if ( !(d.city in transformed_data_heating)){
			  transformed_data_heating[d.city] = []
		  }
		  transformed_data_heating[d.city].push(d.heating)

		  if ( !(d.city in transformed_data_cooling)){
			  transformed_data_cooling[d.city] = []
		  }
		  transformed_data_cooling[d.city].push(d.cooling)
	  })		
  }

  $: scale_pi = scaleLinear().domain(extent(datapoints.map((d) => d.day_of_year))).range([0,2*Math.PI]); 
  $: scale_rad = scaleLinear().domain([0,max(datapoints.map((d) => d.heating))]).range([0,rad_max]);
  const rad_max = 85;
</script> 

<svg width = {width} height = {height}> 
	<text x=150 y=15 class="title" > Design 2: Heating and cooling in 3 US cities within one year </text>
	{#each Object.keys(transformed_data_heating) as xx,idx}
		<g transform = "translate({200*idx}, 0)">
			<g transform = "translate(100,125)">
				<circle class = "circle" cx=0  cy=0  r = {rad_max}/>
				<line x1={-rad_max} x2={rad_max} y1=0 y2=0/>
				<line x1=0 x2=0 y1={rad_max} y2={-rad_max}/>
				<text x=-5 y ={-rad_max-2}> 0 </text> 
				<text x={rad_max+2} y=7> 3 </text> 
				<text x=-5 y={rad_max+10}> 6 </text> 
				<text x={-rad_max-8} y=7> 9 </text>
			</g>
		</g>
	{/each}

	{#each Object.keys(transformed_data_heating) as heat,idx}
		<g transform = "translate({200*idx}, 0)">
			<g class = "heat_s" transform = "translate(100,125)">
				<Path data = {transformed_data_heating[heat]} scale_rad={scale_rad} scale_pi={scale_pi}/>
			</g>
		</g>
	{/each}

    {#each Object.keys(transformed_data_cooling) as cool,idx}
	  	<g transform = "translate({200*idx}, 0)">
		  	<g class = "cool_s" transform = "translate(100,125)">
			  	<Path data = {transformed_data_cooling[cool]} scale_rad={scale_rad} scale_pi={scale_pi}/>
		  	</g>
	  	</g>
    {/each}
	  <rect class = "heat_s" x="220" y="230" width="70" height="10" />
	  <rect class = "cool_s" x="320" y="230" width="70" height="10" />
	  <text x="235" y="230" > Heating </text>
	  <text x="335" y="230" > Cooling </text>
	  <text class = "text" x = 75 y = 30> Baltimore </text> 
	  <text class = "text" x = 280 y = 30> Chicago </text> 
	  <text class = "text" x = 470 y = 30> Los Angeles </text> 
</svg> 

<style>
	.circle {
	  fill: white;
	  stroke: black;
	}
  .heat_s {
	  fill: orangered;
	  opacity: 0.5;
	  stroke: 1px solid;
  }
  .cool_s {
	  fill: blue;
	  opacity: 0.5;
  }
  line {
	  stroke: black;
	}
  text {
	  font-size: 10px;
  }
  .title {
	  font-size:12px;
	  font-weight: bold;
  }
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
