<script>
  // Size and margins
  const width = 800;
  const height = 350;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import Buttons from "./_design_1_buttons.svelte";
  import Path from "./_design_1_path.svelte";
	import {scaleLinear} from 'd3-scale';
  import {extent} from 'd3-array';

	//$: console.log(datapoints)
	//$: console.log(build_types)
	//$: console.log(extent(datapoints.map((d) => d.total_heating_energy))) //[min,max]=[0,3769.21182138]

  let city = "Baltimore";
  let scaling = "separate";

  let xScale =  scaleLinear().domain([0,744]).range([30,490]);
  let yScale=[];
  let build_names=["Full-service restaurant", "Hospital", "Large hotel", "Large office", "Medium office", "Midrise apartment",
  "Out-patient", "Primary school", "Quick-service restaurant", "Secondary school", "Small hotel", "Small office", "Stand-alone retail",
  "Strip mall", "Supermarket", "Warehouse"];
  

  let datapoints = [];
  let build_types = [];
	  fetch("../data/hourly_heating_december.json")
		  .then(res => res.json())
		  .then(data => datapoints = data)
      .then(data =>
        build_types = [...new Set(data.map((d) =>  d.buildingtype))])
        
  let selected_city = {};
  $:{
      selected_city = datapoints.filter(function(d) {
        return d.city == city;
      })
    }

  $:{
  if(scaling == "separate") {yScale}
  else {yScale = scaleLinear().domain(extent(selected_city.map((d) => d.total_heating_energy))).range([8,0])}
  }
</script>

<svg {width} {height}>
	<g transform="translate({margin.left}, {margin.top})">
		{#each build_types as build_type,idx}
		<Path data={selected_city.filter(d => d.buildingtype == build_type)} xScale={xScale} yScale={yScale} scaling ={scaling} build_idx={idx}/>
		  <text class="txt" x=30 y={1}> Dec 1 </text>
		  <text class="txt" x=460 y={1}> Dec 31</text>  
		{/each}	
    {#each build_names as build_name,idd}
         	<text class="type" x=500 y={idd*22+7}> {build_name} </text>
    {/each}
	</g>
</svg>

<Buttons bind:city={city} bind:scaling={scaling}/>
  
<style>
	  svg {
	  border: 1px solid black;
	  border-radius: 5px;
	  }
    .type {
    font-size: 10px;
    }
    .txt {
    font-size: 10px;
    fill: black;
    fill-opacity: 0.1;
    }
</style>

 

 