<script>
  let current = "";
</script>

<style>
  button.selected {
    background-color: aqua;
  }
    </style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} 
  class:selected={current == "messi"}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} 
  class:selected={current == "ronaldo"}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")}
  class:selected={current == "neymar"}>
  Neymar
</button>

