<p>I <span style="color:dodgerblue; opacity: 0.5;"> really </span> 
    like data visualisation!</p>
<style>
    p {
        font-family:'Times New Roman', Times, serif;
        font-size: 1.5em;
        color: steelblue;
    }
</style>