<script>
    const nm='Anastasia';
    const myList = ['sunsets','raindrops on roses','warm whether'];
</script>

<p>My name is {nm} and these are some of my favourite things:
    {myList[0]}, {myList[1]}, {myList[2]}.
</p>
