<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import {brush} from "d3-brush";
  import {onMount} from "svelte";

  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";
  export let global = [];
  export let local = [];

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;
  let svg;   
  let coords = data.map(d => {return {x: xScale(x(d)), y: yScale(y(d))};}); 

  onMount(() => {select(svg)
    .call(brush()
    .on('start brush end', selecting))});

  function selecting(selected) {
    range = selected.selection;
  };
   
  $: {if(range) 
    {let [[x1, y1], [x2, y2]]  = range;
      x1 = x1 - margin.left;
      x2 = x2 - margin.left;
      y1 = y1 - margin.top;
      y2 = y2 - margin.top;
      local = coords.map(d => (d.x > x1 && d.x < x2 && d.y > y1 && d.y < y2));} 
      else {local = Array(coords.length).fill(true);}};
</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px" bind:this={svg}>
  <g transform="translate({margin.left},{margin.top})">
    <g>
      {#each coords as dp,i}
        <circle
          cx={dp.x}
          cy={dp.y}
          r={3}
          fill={global[i] ? "steelblue":"darkgray"}
          fill-opacity={global[i] ? "0.5":"0.3"}
          stroke={global[i] ? "steelblue":"darkgray"}
          stroke-width="1.5"
          stroke-opacity={global[i] ? "1":"o.5"}
        />
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>
