<script>
    // Properties
    export let my_data = [];
    export let year = 0;
  
    let textbutton = "Start";
    let startstop = {active : true};
    let set_int=[];
    $:continentsdata="all";
    $:my_data=[year,continentsdata];
    
  function years_count () {
    if(year >= 214) {year=0} 
    else {year += 1}};
  
  function start_function()
    {if (startstop.active==true)
      {set_int = setInterval(years_count, 100);
      startstop.active = false;
      textbutton="Stop"}
      else {clearInterval(set_int);
      startstop.active = true;
      textbutton="Start"}};
  
  function reset_function() {
    clearInterval(set_int)
    year=0;
    startstop.active = true;
    textbutton="Start";
   };
  </script>
  
  <div class="row">

    <div class="col-4">
      <button type="button" class="btn btn-primary btn-sm"  on:click={start_function}> {textbutton} </button>
      <button class="btn btn-primary btn-sm" on:click={reset_function}> Reset </button>
    </div>

      <div class="col-5">
      <label class="form-label col-sm-10">Year: {year+1800}
      <input type="range" min="0" max="214" stap="1" bind:value={year}></label>
      </div>

      <div class="col-3">
      <select bind:value={continentsdata}>
      <option value="all"> all </option>
      <option value="europe"> europe </option>
      <option value="asia"> asia </option>
      <option value="americas"> americas </option>
      <option value="africa"> africa </option>
      </select>
  </div>
  </div>
  