<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}

    function unclick(event){
        count=0;
    }
</script>

<button width=150px class="btn btn-primary" on:click={handleClick}>
	Clicked {count} times
</button>

<button width=50px style="background-color:crimson" class="btn btn-secondary"
on:click={unclick}
>
    Reset
</button>