<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

$: my_data=[0,"all"];
$: continent=my_data[1];
$: selected = function(element) {
  if (continent=="all") {return element[my_data[0]].countries}
  else{
    return element[my_data[0]].countries.filter(d=>d.continent==continent)}
};
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={selected(data)} />
    <Controls bind:my_data={my_data} />
  </div>
{/if}
