<script>
  import { scaleLog } from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
 
  // Array
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog().domain([1, 10]).range([0,innerWidth]);

  function printAxis (element){
    const xAxis=axisBottom(scale);
    xAxis(select(element));
  };
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
  <circle cx={scale(value)} cy=35 r=10 style="fill: steelblue;"/>
  {/each}
  <g use:printAxis transform="translate(0,{innerHeight})">
    <text x="{innerWidth/2}" y="{margin.bottom}" text-anchor="middle" fill="currentcolor"> x-label </text>
  </g>
  </g>
</svg>