<script>
import {scaleLinear, scaleOrdinal} from 'd3-scale';
import {schemeDark2} from 'd3-scale-chromatic';
import {extent} from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scale_x=scaleLinear().domain([0,10]).range([0,innerWidth]);
  const scale_y=scaleLinear().domain([3,0]).range([0,innerHeight]);
  const cat=scaleOrdinal(schemeDark2).domain(extent(values, col => col.category));

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
    <circle cx={scale_x(val.x)} cy={scale_y(val.y)} r=5 fill={cat(val.category)}/>
    <line x1={scale_x(val.x)} y1={scale_y(val.y)+5} x2={scale_x(val.x)} y2={innerHeight} />
    <text x={scale_x(val.x)} y={scale_y(val.y)-10}> {val.y} </text>
  {/each}
  <line x1=1 y1={innerHeight} x2={innerWidth} y2={innerHeight} />
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line{ stroke: black;}
</style>
