<script>
import {select} from 'd3-selection';
import {scaleLinear, scaleBand} from 'd3-scale';
import {axisBottom, axisLeft} from 'd3-axis';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }];
  
  let dservices=data.map(d => d.service);
  const scale_y=scaleLinear().domain([0,3]).range([innerHeight,0]);
  const scale_x=scaleBand().domain(dservices).range([0,innerWidth]);
 
  function printaxis_x (element){axisBottom(scale_x)(select(element));}
  function printaxis_y (element){axisLeft(scale_y)(select(element));}

</script>
<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as dt}
      <rect x={scale_x(dt.service)+10} y={scale_y(dt.viewers)} 
      width={70} height={innerHeight-scale_y(dt.viewers)} fill=steelblue> 
    </rect>
    {/each}
    <text x="-180" y="-30" transform="rotate(-90)" font-size=0.65em> Viewers (Million) </text>

    <g use:printaxis_x  transform="translate(0,{innerHeight})"> </g>
    <g use:printaxis_y  transform="translate(0,0)"> </g>

  </g>
</svg>
